.team-calendar-scene {
    overflow-x: auto;
    padding-top: 1em;
}

.absences-calendar {
    border: none;
}

.absences-calendar tr.month-headers th {
    font-size: 1.4em;
    opacity: 0.5;
    height: 32px;
    padding-bottom: 0;
}

th.span-multiple-columns {
    position: absolute;
}

th.span-multiple-columns label {
    position: relative;
}

.absences-calendar thead {
    border-top: none;
}

.absences-calendar .weekend {
    color: rgba(0, 0, 0, .25);
    background-color: #ccc;
}

.absences-calendar tr.day-headers th {
    font-size: 1.1em;
}

.absences-calendar td {
    text-align: center;
}

.absences-calendar tr.user-days td:first-child {
    text-align: right;
    font-size: 1.1em;
    font-weight: 700;
    color: rgba(0, 0, 0, .54)
}